.carousel-outer {
  background-color: white;
  text-align: center;
  transform: translateY(10%);
  margin: auto;
  position: relative;
  width: 66%;
  height: 66%;
  border-style: inset;
  border-width: 4px;
  border-radius: 5px;
  border-color: grey;
}

.carousel-indicators
{
  display: inline-block;
  list-style: none;
}
.carousel-indicators li {
  height: 1vw;
  float: left;
  margin-right: 2px;
  margin-left: 2px;
  width: 1vw;
  background-color: black;
  border-radius: 50px;
  font-size: 3vw;
  /*opacity: 0.1;
  transition-duration: 1s;*/
}

.carousel-indicators li:hover {
  opacity: 1;
}

.carousel-inner button:hover {
  opacity: 1;
}

.buttonLeft {
  @include carousel-btn(left);
}

.buttonRight {
  @include carousel-btn(right);
}

.content {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  position: relative;
}

.content li img{
  position: relative;
  width: 100%;
  padding: 0;
  z-index: 0;
}

.content li h2{
  position: absolute;
  font-size: 2vw;
  left: 0;
  right: 0;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.four-three {
   @include aspect-ratio(4, 3);
}

.sixteen-nine {
  @include aspect-ratio(16, 9);
}

.three-two {
  @include aspect-ratio(3, 2);
}
