/*
** - Overwrites
*/
$base-spacing-unit:                                 40px;
$inuit-base-spacing-unit:                           40px;
$inuit-enable-layout--tiny:                         true;
$inuit-enable-layout--small:                        true;
$inuit-enable-layout--large:                        true;
$inuit-enable-layout--huge:                         true;
$inuit-enable-layout--flush:                        true;
$inuit-enable-layout--rev:                          true;
$inuit-enable-layout--middle:                       true;
$inuit-enable-layout--bottom:                       true;
$inuit-enable-layout--right:                        true;
$inuit-enable-layout--center:                       true;
$inuit-enable-layout--auto:                         true;
$inuit-widths-columns:               (1, 2, 3, 4, 8, 12);
$inuit-widths-columns-responsive:    (1, 2, 3, 4, 8, 12);
$inuit-enable-margins:                              true;
$inuit-enable-margins--tiny:                        true;
$inuit-enable-margins--small:                       true;
$inuit-enable-margins--large:                       true;
$inuit-enable-margins--huge:                        true;
$inuit-enable-margins--negative:                    true;
$inuit-enable-margins--negative-tiny:               true;
$inuit-enable-margins--negative-small:              true;
$inuit-enable-margins--negative-large:              true;
$inuit-enable-margins--negative-huge:               true;
$inuit-enable-margins--none:                        true;
$inuit-enable-paddings:                             true;
$inuit-enable-paddings--tiny:                       true;
$inuit-enable-paddings--small:                      true;
$inuit-enable-paddings--large:                      true;
$inuit-enable-paddings--huge:                       true;
$inuit-enable-paddings--none:                       true;
$inuit-enable-responsive-margins:                   true;
$inuit-enable-responsive-margins--tiny:             true;
$inuit-enable-responsive-margins--small:            true;
$inuit-enable-responsive-margins--large:            true;
$inuit-enable-responsive-margins--huge:             true;
$inuit-enable-responsive-margins--negative:         true;
$inuit-enable-responsive-margins--negative-tiny:    true;
$inuit-enable-responsive-margins--negative-small:   true;
$inuit-enable-responsive-margins--negative-large:   true;
$inuit-enable-responsive-margins--negative-huge:    true;
$inuit-enable-responsive-margins--none:             true;
$inuit-enable-responsive-paddings:                  true;
$inuit-enable-responsive-paddings--tiny:            true;
$inuit-enable-responsive-paddings--small:           true;
$inuit-enable-responsive-paddings--large:           true;
$inuit-enable-responsive-paddings--huge:            true;
$inuit-enable-responsive-paddings--none:            true;
