/*
** - Layout
*/
$container: 1400px;
/*
** - Fonts
*/
$font-size-base: 16px;
/*
** - Colours
*/
$white: #fff;
$black: #000;
/*
** - Default Sizes
*/
$default-module-padding:  calc(100% / 12); //change dependant on the size of the default
