@mixin font($font) {

    font-family: '#{$font}', Helvetica, Arial, sans-serif;
}

@mixin aspect-ratio($ratio-or-width, $height: null) {
  $padding: if($height,
               percentage($height/$ratio-or-width),
               percentage(1/$ratio-or-width)
            );
  &:before { content:''; float: left; padding-bottom: $padding;  }
  &:after  { content:''; display: table; clear: both;  }
}

@mixin carousel-btn($inner-position)
{
  @if($inner-position == left) { left: 0; }
  @if($inner-position == right) { right: 0; }
  position: absolute;
  font-size: 2vw;
  height: 100%;
  opacity: 0.1;
  transition-duration: 1s;
  border: 0;
  z-index: 1;
}

@mixin image-alignment($axis)
{
  @if($axis == verticalAllign) {}
  @if($axis == horizontalAllign) {}


}
